<app-header [title]="'Operators'"></app-header>
<app-list [label]="'Raw data'" [obs]="obs1"></app-list>
<app-list [label]="'Map Operator'" [obs]="obs2"></app-list>
<app-list [label]="'Tap Operator'" [obs]="obs3"></app-list>
<app-list [label]="'Take Operator'" [obs]="obs4"></app-list>
<app-list [label]="'Delay Operator'" [obs]="obs5"></app-list>
<app-list [label]="'Merge Map Operator'" [obs]="obs6"></app-list>
<app-list [label]="'Switch Map Operator'" [obs]="obs7"></app-list>
<app-list [label]="'Concat Map Operator'" [obs]="obs8"></app-list>