table tr td {
  border: 2px solid black;
  font-size: 25px;
  text-align: center;
}
.titre1{
  color:blue;
  font-weight: bold;
}
.prixTotal{
  color: orangered;
  font-weight: bold;
}

.erreur{
  color: red;
}